{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/logged_out.css' %}" />
{% endblock %}
{% block content %}
  <div class="logged-out-page">
    <div class="form">
      <h1><b>You have been logged out!</b></h1>
      <p>Thank you for using the website</p>
      <form class="login-form" method="post" action="{% url 'login' %}">
      	{% csrf_token %}
        <button type="submit" ><b>Login Again</b></button>
      </form>
    </div>
  </div>
{% endblock %}