	.logout_home_right_corner{
		float: right;
		padding: 5px;
	}

	.webcmdb_h1{
		padding: 10px;
	}

	#add_button{
		border: solid 1px; 
		margin: 0px 0px 5px 15px;
	}

	.search_form{
		padding: 0px 10px 10px 10px;
	}

	#search_simple{
		border: 1px solid grey; 
		padding: 5px;
	}

	#search_simple legend{
		color: #6699ff; 
		padding-left:10px; 
		width: auto;
	}

	#search_advance{
		border: 1px solid grey; 
		padding: 5px;
	}

	#search_advance legend{
		color: #ff3300; 
		padding-left:10px; 
		width: auto;
	}

	#search_advance .th_column2{
		padding-left: 70px;
	}

	body {
		background: #ededed;
	}