{% extends 'base.html' %}

{% block content %}

	<div style="float:right; padding: 5px">
	    <form align="right" name="form1" method="post" action="{% url 'logout' %}">
	      {% csrf_token %}
	      <label class="logoutLblPos">
	        <input name="logout_button" type="submit" id="logout_button" value="log out">
	      </label>
	    </form>
	    <form align="right" name="form2" action="{% url 'home' %}">
	      <label class="home_button">
	        <input name="home_button" type="submit" id="home_button" value="home">
	      </label>
	    </form>
	</div>
    <h2 style="padding:5px 5px 5px 20px">Add Machine Information</h2>

    <form method="POST" class="post-form" style="padding: 10px">
    	{% csrf_token %}

		<button style="border: solid 1px" type="submit" onclick="return confirm('Are you wanted save these changes?')" class="btn btn-primary">Save</button>
        <input type="reset" class="btn btn-danger" value="Reset">

    	<table >
        	{{ form }}
    	</table>

        <button style="border: solid 1px" type="submit" onclick="return confirm('Are you wanted save these changes?')" class="btn btn-primary">Save</button>
        <input type="reset" class="btn btn-danger" value="Reset">
	
    </form>
{% endblock %}