{% extends 'base.html' %}

{% block content %}
    <h2 style="padding:5px 5px 5px 20px">Add/Edit Machine Information</h2>
    <form method="POST" class="post-form" style="padding: 10px">

    	{% csrf_token %}
    	<table >

        	{{ form }}

    	</table>
        <button style="border: solid 1px" type="submit" onclick="confirm_changes()" class="btn btn-primary">Save</button>

	    <script>
	    	function confirm_changes() {
	    		if (!confirm("Are you SURE you want to apply these changes?")):
                    return false;
	    	}
	    </script>
    </form>
{% endblock %}